@font-face {
    font-family:"omniGothic";
    src:url("../font/korean.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.con {
    background-color: blue;
    width: 40%;
}

.topBar {
    padding: 1.2rem;
    height: 3.9rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    background-color: #ff0000;
    float: left;
}

.authLink {
    font-size: 0.8rem;
    line-height: 1.5rem;
    float: right;
    border: 1px solid white;
    padding: 0 2rem;
    color: white;
    border-radius: 1.5rem
}

main {
    padding-bottom: 3rem;
}

/* Landing */

.landingMain {
    background: url(../images/landingBg.png);
    background-size: cover;
}

.landingLogo {
    width: 10rem;
    height: 13rem;
    margin: 6rem auto 4rem auto;
    background: url(../images/logoMx.png);
    background-size: cover;
}

.createBtn {
    background-image: url(../images/plusIcon.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 13.8rem;
}

.createBtn, .albumListItem {
    padding: 0.7rem 0;
    margin: 2rem auto 0 auto;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 2.4rem;
    font-family: omniGothic;
    color: white;
    border: 1px solid white;
    display: block;
    width: 16rem;
    text-align: center;
}

.btnHover {
    transition: 0.2s background-color;
    cursor: pointer;
}

.btnHover:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

.userAdminAlbum {
}

/* Auth */

.authInput {
}