<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selbum</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main class="personalFormMain loginState">
       
        <nav class="topBar">
            <a href="landing.html"><div class="logo"></div></a>
            <a href="landing.html" class="logout">LOGOUT</a>
        </nav>
        
        <h1 class="submitAlbum">앨범 인쇄</h1>
        
        <form>
            <div class="uploadCon">
                
                <h2>학생과 선생님의 사진 선택</h2>
                
                <h3>1반</h3>
                <ul class="teacher1">
                    <li class="who">담임 교사 name</li>
                    <li class="picture1"><input type="radio" name="teacher1" value="picture1"></li>
                    <li class="picture2"><input type="radio" name="teacher1" value="picture2"></li>
                    <li class="picture3"><input type="radio" name="teacher1" value="picture3"></li>
                    <li class="picture4"><input type="radio" name="teacher1" value="picture4"></li>
                    <li class="picture5"><input type="radio" name="teacher1" value="picture5"></li>
                    <p class="phrases"></p>
                </ul>
                <ul class="student1-1">
                    <li class="who">name</li>
                    <li class="picture1"><input type="radio" name="student1-1" value="picture1"></li>
                    <li class="picture2"><input type="radio" name="student1-1" value="picture2"></li>
                    <li class="picture3"><input type="radio" name="student1-1" value="picture3"></li>
                    <li class="picture4"><input type="radio" name="student1-1" value="picture4"></li>
                    <li class="picture5"><input type="radio" name="student1-1" value="picture5"></li>
                    <p class="phrases"></p>
                </ul>
                <ul class="student1-2">
                    <li class="who">name</li>
                    <li class="picture1"><input type="radio" name="student1-2" value="picture1"></li>
                    <li class="picture2"><input type="radio" name="student1-2" value="picture2"></li>
                    <li class="picture3"><input type="radio" name="student1-2" value="picture3"></li>
                    <li class="picture4"><input type="radio" name="student1-2" value="picture4"></li>
                    <li class="picture5"><input type="radio" name="student1-2" value="picture5"></li>
                    <p class="phrases"></p>
                </ul>
                <ul class="student1-3">
                    <li class="who">name</li>
                    <li class="picture1"><input type="radio" name="student1-3" value="picture1"></li>
                    <li class="picture2"><input type="radio" name="student1-3" value="picture2"></li>
                    <li class="picture3"><input type="radio" name="student1-3" value="picture3"></li>
                    <li class="picture4"><input type="radio" name="student1-3" value="picture4"></li>
                    <li class="picture5"><input type="radio" name="student1-3" value="picture5"></li>
                    <p class="phrases"></p>
                </ul>
                
                <h2>반 별 사진 요청 수락 및 거절</h2>
                
                <ul class="res1-1">
                    <li class=""></li>
                </ul>
                
                <!--
                    문구 작성
                    관리자의 앨범 설정에 따름
                    아래 예제는
                    문구 작성 : 사용
                -->
                <input type="text" placeholder="앨범에 사용될 문구를 작성 해 주세요" class="phrasesInput">
                
                <!-- 사용자는 여러번 제출이 가능하며 가장 최신 것으로 저장 -->
                <input type="submit" value="사진 제출">
            </div>
        </form>
        
    </main>
</body>
</html>