<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selbum</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main class="albumMain loginState">
        
        <nav class="topBar">
            <a href="landing.html"><div class="logo"></div></a>
            <a href="landing.html" class="logout">LOGOUT</a>
        </nav>
        
        <div class="personalFormLink formLink btnHover">
            <a href="personalForm.html">
                개인 사진
            </a>
        </div>
        
        <div class="classFormLink formLink btnHover">
            <a href="classForm.html">
                학급 사진
            </a>
        </div>
        
        <div class="eventFormLink formLink btnHover">
            <a href="eventForm.html">
                행사 사진
            </a>
        </div>
        
        <a href="admin.html" class="adminLink ">앨범 관리</a>
    </main>
</body>
</html>