<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selbum</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/script.js"></script>
</head>
<body>
    <main class="createMain">
        
        <nav class="topBar">
            <a href="landing.html"><div class="logo"></div></a>
        </nav>
        
        <div class="createCon">
            <div class="con">
                <form action="/login" method="post">
                    <div>
                        <input name="albumName" class="createInput" type="text" placeholder="앨범 이름"/>
                    </div>
                    <div>
                        <input name="graduYear" class="createInput" type="text" placeholder="졸업 년도" />
                    </div>
                    <div>
                        <input name="schName" class="createInput" type="text" placeholder="학교 이름" />
                    </div>
                    <div>
                        <input type="submit" value="LOGIN" id="loginSubmit" class="btnHover"/>
                    </div>
                </form>    
            </div>
        </div>
    </main>
</body>
</html>